<% if false #@trip.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

    <ul>
    <% @trip.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% form_for @trip do |f| %>
  <!-- User -->
  <%= image_tag('create-trip-header.png') %><br /><br />
  <%= f.hidden_field :user_id, :value => current_user.id %>

  <dl>
    <!-- Destination -->
    <dt id="destination">Destination</dt>
    <dd id="destination_dd">
		<div>
		  <% if @trip.errors['destination'] %>
			<div class="error"><%= @trip.errors.full_messages[@trip.errors.keys.index(:destination)] %></div>
		  <% end %>

		  <%= f.label :destination, 'Where are you going?' %>
		  <%= f.text_field :destination, {:placeholder => "City, State"} %>
		</div>
	  <a href="#" class="next"><%= image_tag('next-button.png') %></a>
    </dd>

    <!-- Duration -->
    <dt id="duration">Duration</dt>
    <dd id="duration_dd">
      <% ['start_date', 'end_date'].each do |error| %>
        <%= content_tag 'div', @trip.errors.full_messages[@trip.errors.keys.index(error.to_sym)] if @trip.errors[error] %>
      <% end %>

      <table class="duration" border="0" cellspacing="0" cellpadding="4">
		<tr>
			<td align="right"><%= f.label :start_date, "When are you going?" %></td>
			<td><%= f.text_field :start_date, {:placeholder => "Select a date"} %></td>
        </tr>
		<tr>
			<td align="right"><%= f.label :end_date, "When are you coming back?" %></td>
			<td><%= f.text_field :end_date, {:placeholder => "Select a date"} %></td>
		</tr>
      </table>

      <a href="#" class="next"><%= image_tag('next-button.png') %></a>
    </dd>

    <!-- Travel Info -->
<!--    <dt>Travel Info</dt>
    <dd>
      <%= f.label :departure_city %>
      <%= f.text_field :departure_city %><br />

      <%= f.label :departure_time %>
      <%= f.text_field :departure_time %><br />

      <%= f.label :arrival_city %>
      <%= f.text_field :arrival_city %><br />

      <%= f.label :arrival_time %>
      <%= f.text_field :arrival_time %>

      <a href="#" class="prev">Previous</a>
      <a href="#" class="next">Continue</a>
    </dd>
-->
    <!-- Accomodations -->
    <dt id="accomodation">Accomodations</dt>
    <dd id="accomodation_dd">
	
		<div>
			<%= f.label :accomodation_name, "Where are you staying?" %>
			<%= f.text_field :accomodation_name, {:placeholder=>"Hotel Name, Address"} %>
			<br /><br />
			<div style="margin:0; padding:0 0 0 170px">
			<%= f.check_box :no_accomodation %>
			<%= f.label :no_accomodation, "I don't know yet" %>
			</div>
		</div>

      <%= image_submit_tag('create-trip-button.png', :class=>"next") %>
    </dd>
  </dl>
<% end %>
<div id="trip_intro">
	<p>You can choose to keep your profile and keep all of the cool stuff to yourself, or make it public and share your experiences with the world.</p>
</div>
<br /><br />