<% if false #@trip.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

    <ul>
    <% @trip.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% form_for @trip do |f| %>
  <!-- User -->
  <%= f.hidden_field :user_id, :value => current_user.id %>

  <dl>
    <!-- Destination -->
    <dt>Destination</dt>
    <dd>
      <% if @trip.errors['destination'] %>
        <div class="error"><%= @trip.errors.full_messages[@trip.errors.keys.index(:destination)] %></div>
      <% end %>

      <%= f.label :destination, 'Where are you going?' %>
      <%= f.text_field :destination %>
      <a href="#" class="next">Continue</a>
    </dd>

    <!-- Duration -->
    <dt>Duration</dt>
    <dd>
      <% ['start_date', 'end_date'].each do |error| %>
        <%= content_tag 'div', @trip.errors.full_messages[@trip.errors.keys.index(error.to_sym)] if @trip.errors[error] %>
      <% end %>

      <p>When will you be there?</p>

      <div class="duration">
        <%= f.label :start_date, 'Arrival' %>
        <%= f.text_field :start_date %>
        <br />
        <%= f.label :end_date, 'Departure' %>
        <%= f.text_field :end_date %>
      </div>

      <a href="#" class="prev">Previous</a>
      <a href="#" class="next">Continue</a>
    </dd>

    <!-- Travel Info -->
    <dt>Travel Info</dt>
    <dd>
      <%= f.label :departure_city %>
      <%= f.text_field :departure_city %><br />

      <%= f.label :departure_time %>
      <%= f.text_field :departure_time %><br />

      <%= f.label :arrival_city %>
      <%= f.text_field :arrival_city %><br />

      <%= f.label :arrival_time %>
      <%= f.text_field :arrival_time %>

      <a href="#" class="prev">Previous</a>
      <a href="#" class="next">Continue</a>
    </dd>

    <!-- Accomodations -->
    <dt>Accomodations</dt>
    <dd>
      <%= f.label :accomodation_name %>
      <%= f.text_field :accomodation_name %>

      <a href="#" class="prev">Previous</a>
      <%= f.submit 'Create trip' %>
    </dd>
  </dl>
<% end %>