<div id="sidebar">
  <div id="share_it">
    <%= image_tag("share-it.png") %>
  </div>

  <div id="print_itinerary">
    <a href="#">Print Itinerary</a>
  </div>
</div>

<h1><%= @trip.title %><a href="#">Edit</a></h1>

<h2>
  <%= @trip.destination_city.blank? ? @trip.destination : @trip.destination_city + ', ' + @trip.destination_state %>
</h2>

<div id="map_canvas" style="width:725px; height:450px;"></div>

<div id="itenerary">
	<h3>Your Itinerary</h3>
	<a href="<%= new_trip_event_path(@trip) %>" class="add_event" rel="#event-form-overlay"><%= image_tag "add-event.png" %></a>

	<div class="nav">
		<%= image_tag "left-arrow.png", {:class => 'back prev browse right'} %>
		<ul class="tabs">
			<li class="overview"></li>
			<li class="daily"></li>
		</ul>
		<%= image_tag 'right-arrow.png', {:class => 'forward next browse left'} %>
	</div>
	<div style="clear: left;"></div>
	<div class="tab-panes">
		<!-- my content -->
		<div class="overview scrollable">
			<div class="items">
				<% @trip.days.each_slice(4) do |day_array| %>
				<ul class="days item">
					<% day_array.each do |day| %>
					<li class="day<%= ' first' if day == day_array[0] %><%= ' last' if day == day_array[3] %>">
						<div class="head"><%= day.strftime("%B %d") %></div>
						<div class="body">
							<%= render :partial => 'events/event_tiny', :collection => @trip.events.for_date(day) %>
						</div>
					</li>
					<% end %>
				</ul>
				<% end %>
			</div>
		</div>
		<!-- end my conten -->
		<div class="daily-view">
			<div class="day">
				Day Content
			</div>
		</div>
	</div>
</div>

<div id="open_events">
  <div>Fly by the seat of your pants</div>
  <%= render :partial => 'events/event_unscheduled', :collection => @trip.events.unscheduled %>
</div>


<div id="form-overlay">
<script type="text/javascript">

var geocoder;
var map;
var marker;
   
function initialize(){
  var latlng = new google.maps.LatLng(<%= @trip.latitude %>, <%= @trip.longitude %>);
  var options = {
    scrollwheel: false,
    zoom: 11,
    center: latlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
       
  map = new google.maps.Map(document.getElementById("map_canvas"), options);
       
  //GEOCODER
  geocoder = new google.maps.Geocoder();
  
	  var mainMarker = new google.maps.Marker({
        position: latlng, 
        map: map, 
        title:"<%= @trip.destination %>"
	  });
  var bounds = new google.maps.LatLngBounds();
	  
  <% @trip.events.mapped.each do |place| %>
	  myLatLng = new google.maps.LatLng(<%= place.latitude %>, <%= place.longitude %>);
	  var marker = new google.maps.Marker({
        position: myLatLng, 
        map: map, 
        title:"<%= place.title %>"
	  }); 
      bounds.extend(myLatLng);
      map.fitBounds(bounds);
  <% end %>
  
  $("#map_canvas").append('<span class="hide_map"><a href="javascript://" id="hide_map_link">hide map</a></span>');
}

$(document).ready(function() {
         
  initialize();
  
  $("#hide_map_link").toggle(function(){
	$("#map_canvas").elapsor({
      color:'#fff',
      opacity:70
	});
	$("#map_canvas").animate({height:"50px"},1000);
	$("#map_canvas span a").html("show map");
  }, function(){
	$("#map_canvas").hideElapsor();
	$("#map_canvas").animate({height:"450px"},1000);
	$("#map_canvas span a").html("hide map");
  });
  
});

</script>

<div id="event-form-overlay">
	<!-- the external content is loaded inside this tag -->
	<div class="contentWrap"></div>

</div>


<script type="text/javascript" charset="utf-8">
	$(function() {
		$('ul.tabs').tabs('#itenerary div.tab-panes > div');

		$('div.contentWrap form').live('submit', function () {
		  $(this).find('.field_with_error').removeClass('field_with_error');
		  $('#error-list').hide();

			var action = $(this).attr('action');
			$.post(action, $(this).serialize());
			return false;
		});

		$("a[rel]").live('click', function(e) {
			e.preventDefault();
			$(this).overlay({
				mask: 'black',
				closeOnClick: false,
				load: true,
				onBeforeLoad: function() {
					// grab wrapper element inside content
					var wrap = this.getOverlay().find(".contentWrap");
					// load the page specified in the trigger
					wrap.load(this.getTrigger().attr("href"));
					$open_overlay = this;
				},
				onClose: function() {
					reset_form('.event_form');
				}
			});
		});
	});
</script>
