<div id="sidebar">
  <div id="share_it">
    <a href="#">Share it &gt;</a>
  </div>

  <div id="print_itinerary">
    <a href="#">Print Itinerary</a>
  </div>
</div>

<h1><%= @trip.title %></h1>

<h2>
  <%= @trip.destination_city.blank? ? @trip.destination : @trip.destination_city + ', ' + @trip.destination_state %>
</h2>

<div id="map_canvas" style="width:725px; height:450px;"></div>

<div>
  Your Itinerary
  Add Event
</div>

<div class="links">
  <a class="prev browse left"></a>
  <a href="#">Overview</a>
  <a href="#" class="active">Daily View</a>
  <a class="next browse right"></a>
</div>

<div class="scrollable">
  <div class="items">

    <% @trip.days.each_slice(4) do |day_array| %>
      <div class="item">
        <% day_array.each do |day| %>

          <div class="date<%= ' first' if day == day_array[0] %>">
            <div class="title"><%= day.strftime("%B %d") %></div>
            <%= render :partial => 'events/event_tiny', :collection => @trip.events.for_date(day) %>
          </div>

        <% end %>
      </div>
    <% end %>

  </div>
</div>

<div id="open_events">
  <div>Fly by the seat of your pants</div>
  <%= render :partial => 'events/event_open', :collection => @trip.events.open %>
</div>

<%= link_to 'Add an event', new_trip_event_path(@trip) %>

<script type="text/javascript">

var geocoder;
var map;
var marker;
   
function initialize(){
  var latlng = new google.maps.LatLng(<%= @trip.latitude %>, <%= @trip.longitude %>);
  var options = {
    zoom: 8,
    center: latlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
       
  map = new google.maps.Map(document.getElementById("map_canvas"), options);
       
  //GEOCODER
  geocoder = new google.maps.Geocoder();
  
	  var marker = new google.maps.Marker({
        position: latlng, 
        map: map, 
        title:"<%= @trip.destination %>"
	  });
	  
  <% @trip.events.each do |place| %>
	  myLatLng = new google.maps.LatLng(<%= place.latitude.to_s + ", " + place.longitude.to_s %>);
	  var marker = new google.maps.Marker({
        position: myLatLng, 
        map: map, 
        title:"<%= place.title %>"
	  }); 
  <% end %>
               
}

$(document).ready(function() {
         
  initialize();
  
});

</script>