<div id="sidebar">
  <div id="share_it">
    <a href="#">Share it &gt;</a>
  </div>

  <div id="print_itinerary">
    <a href="#">Print Itinerary</a>
  </div>
</div>

<h1><%= @trip.title %><a href="#">Edit</a></h1>

<h2>
  <%= @trip.destination_city.blank? ? @trip.destination : @trip.destination_city + ', ' + @trip.destination_state %>
</h2>

<div id="map_canvas" style="width:725px; height:450px;"></div>

<div class="itinerary">
  <span>Your Itinerary</span>
  <a href="#" class="add_event">Add Event</a>
</div>

<div class="links">
  <a class="prev browse left"><%= image_tag 'left-arrow.png' %></a>
  <a href="#" class="switch overview active">Overview</a>
  <a href="#" class="switch daily">Daily View</a>
  <a class="next browse right"><%= image_tag 'right-arrow.png' %></a>
</div>

<div class="scrollable">
  <div class="items">

    <% @trip.days.each_slice(4) do |day_array| %>
      <div class="item">
        <% day_array.each do |day| %>

          <div class="date<%= ' first' if day == day_array[0] %>">
            <div class="title"><%= day.strftime("%B %d") %></div>
            <%= render :partial => 'events/event_tiny', :collection => @trip.events.for_date(day) %>
          </div>

        <% end %>
      </div>
    <% end %>

  </div>
</div>

<a class="next browse right"></a>

<%= link_to 'Add an event', new_trip_event_path(@trip), {:rel => '#event-form-overlay'} %>

<div id="open_events">
  <div>Fly by the seat of your pants</div>
  <%= render :partial => 'events/event_open', :collection => @trip.events.open %>
</div>

<script type="text/javascript">

var geocoder;
var map;
var marker;
   
function initialize(){
  var latlng = new google.maps.LatLng(<%= @trip.latitude %>, <%= @trip.longitude %>);
  var options = {
    scrollwheel: false,
    zoom: 11,
    center: latlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
       
  map = new google.maps.Map(document.getElementById("map_canvas"), options);
       
  //GEOCODER
  geocoder = new google.maps.Geocoder();
  
	  var mainMarker = new google.maps.Marker({
        position: latlng, 
        map: map, 
        title:"<%= @trip.destination %>"
	  });
  var bounds = new google.maps.LatLngBounds();
	  
  <% @trip.events.each do |place| %>
	  <% if !place.longitude.blank? and !place.latitude.blank? %>
	  myLatLng = new google.maps.LatLng(<%= place.latitude %>, <%= place.longitude %>);
	  var marker = new google.maps.Marker({
        position: myLatLng, 
        map: map, 
        title:"<%= place.title %>"
	  }); 
      bounds.extend(myLatLng);
      map.fitBounds(bounds);
	  <% end %>
  <% end %>
               
}

$(document).ready(function() {
         
  initialize();
  
});

</script>

<div id="event-form-overlay">
	<!-- the external content is loaded inside this tag -->
	<div class="contentWrap"></div>

</div>


<script type="text/javascript" charset="utf-8">
	var $open_overlay;
	$(function() {
		
		var overlay_conf = 
		$('div.contentWrap form').live('submit', function () {
			var action = $(this).attr('action');
			$.post(action, $(this).serialize());
			$open_overlay.close();
			return false;
		});

		$("a[rel]").overlay({
			mask: 'black',
			closeOnClick: false,
			onBeforeLoad: function() {
				// grab wrapper element inside content
				var wrap = this.getOverlay().find(".contentWrap");
				// load the page specified in the trigger
				wrap.load(this.getTrigger().attr("href"));
				$open_overlay = this;
			}

		});
	});
</script>
