<div id="sidebar">
  <div id="share_it">
    <%= link_to image_tag("share-it.png"), trip_albums_path(@trip) %>
  </div>

  <div id="itenerary-menu">
	<ul>
		<li><a href="<%= new_trip_event_path(@trip) %>" class="add_event" rel="#event-form-overlay">Add Event</a></li>
		<li>Do Something</li>
		<li>So Something Else</li>
	</ul>
  </div>
</div>

<div id="trip-head">
	<h1><%= @trip.title %><a href="#">Edit</a></h1>
	<h2><%= @trip.destination_city.blank? ? @trip.destination : @trip.destination_city + ', ' + @trip.destination_state %></h2>
</div>
<div id="trip-map">
	<div id="map_canvas" style="width:690px; height:450px;"></div>
</div>
<div id="trip-info">
	<div id="itenerary">
		<h3><%= image_tag 'your-itinerary.png' %></h3>
		

		<div class="nav">
			<%= image_tag "left-arrow.png", {:class => 'back prev browse right'} %>
			<%# image_tag "left-arrow.png", {:id => 'prev-day', :class => 'back browse right'} %>
			<ul class="tabs">
				<li class="overview"></li>
				<li class="daily"></li>
			</ul>
			<%= image_tag 'right-arrow.png', {:class => 'forward next browse left'} %>
			<%# image_tag "right-arrow.png", {:id => 'prev-day', :class => 'back browse right'} %>
		</div>
		<div style="clear: left;"></div>
		<div class="tab-panes">
			<!-- my content -->
			<%= render :partial => 'day_overview' %>
			<!-- end my conten -->
			<div class="daily-view">
			<%= render :partial => 'day_listing' %>
			</div>
		</div>
	</div>
	<p id="prev-day">BACK</p><p id="next-day">FORWARD</p>
	<div id="open_events">
	  <div>Fly by the seat of your pants</div>
	  <%= render :partial => 'events/event_unscheduled', :collection => @trip.events.unscheduled %>
	</div>
</div>


<script type="text/javascript">

var geocoder;
var map;
var marker;
   
function initialize(){
  var latlng = new google.maps.LatLng(<%= @starting_location['latlng'] %>);
  var options = {
    scrollwheel: false,
    zoom: 11,
    center: latlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
       
  map = new google.maps.Map(document.getElementById("map_canvas"), options);
       
  //GEOCODER
  geocoder = new google.maps.Geocoder();
    var bounds = new google.maps.LatLngBounds();

	  var mainMarker = new google.maps.Marker({
        position: latlng, 
        map: map, 
        title:"<%= @starting_location['name'] %>"
	  });
	<% unless @trip.events.mapped.blank? %>
	   bounds.extend(latlng);
       map.fitBounds(bounds);
	<% end %> 
    <% @trip.events.mapped.each do |place| %>
	  myLatLng = new google.maps.LatLng(<%= place.latitude %>, <%= place.longitude %>);
	  var marker = new google.maps.Marker({
        position: myLatLng, 
        map: map, 
        title:"<%= place.title %>"
	  }); 
      bounds.extend(myLatLng);
      map.fitBounds(bounds);
    <% end %>
  
  $("#map_canvas").append('<span class="hide_map"><a href="javascript://" id="hide_map_link">hide map</a></span>');
}

$(document).ready(function() {
         
  initialize();
  
  $("#hide_map_link").toggle(function(){
	$("#map_canvas").elapsor({
      color:'#fff',
      opacity:70
	});
	$("#map_canvas").animate({height:"50px"},1000);
	$("#map_canvas span a").html("show map");
  }, function(){
	$("#map_canvas").hideElapsor();
	$("#map_canvas").animate({height:"450px"},1000);
	$("#map_canvas span a").html("hide map");
  });
  
});

</script>

<div id="event-form-overlay" class="overlay" style="display:none">
	<!-- the external content is loaded inside this tag -->
	<div class="contentWrap"></div>

</div>


<script type="text/javascript" charset="utf-8">
	$(function() {
		$('ul.tabs').tabs('#itenerary div.tab-panes > div');

		$('div.contentWrap form').live('submit', function () {
			var action = $(this).attr('action');
			$.post(action, $(this).serialize());
			return false;
		});

		$("a[rel]").live('click', function(e) {
			e.preventDefault();
			$(this).overlay({
				mask: 'black',
				closeOnClick: false,
				load: true,
				onBeforeLoad: function() {
					// grab wrapper element inside content
					var wrap = this.getOverlay().find(".contentWrap");
					// load the page specified in the trigger
					wrap.load(this.getTrigger().attr("href"));
					$open_overlay = this;
				},
				onClose: function() {
					reset_form('.event_form');
				}
			});
		});
	});
</script>
