<div class="full-event">
	<span class="title"><%= image_tag (event_full.longitude.nil?) ? 'mapped.png' : 'mapped.png' %> <%= event_full.title %></span>
	<div class="info">
		<span class="address"><%= event_full.location %></span><br/>
		<span class="time">2:00pm - 5:00pm</span>
		<div class="description">
			<%= event_full.notes %>
		</div>
		<%= link_to "Edit", edit_trip_event_path(event_full), {:rel => '#event-form-overlay'} %>
	</div>
</div>