<!--
<div id="event_map_canvas" style="width:300px; height:300px; float:right"></div>
-->


	<div id="error-list" style="display:none">
		<h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
		<ul>
		<% @event.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>	
		</ul>
	</div>
	
	<%= f.hidden_field :latitude %>
	<%= f.hidden_field :longitude %>
	
	<table>
	  <tr>
	    <th><%= f.label :title %></th>
		  <td><%= f.text_field :title %></td>
    </tr>
	
	  <tr>
	    <th><%= f.label :location %></th>
		  <td><%= f.text_field :location %></td>
		</tr>

	  <tr>
	    <th><%= f.label :start_date %></th>
		  <td><%= f.text_field :start_date %></td>
		</tr>

	  <tr>
	    <th><%= f.label :end_date %></th>
		  <td><%= f.text_field :end_date %></td>
		</tr>

	  <tr>
	    <th><%= f.label :notes %></th>
		  <td><%= f.text_area :notes %></td>
		</tr>

	  <tr>
	    <th></th>
		  <td><%= f.label :must_do, 'Make this a must do!' %> <%= f.check_box :must_do %></td>
		</tr>

    <tr>
      <th></th>
      <td>
        <% buttons.each do |button| %>
        <%= button %>
        <% end %>
      </td>
    </tr>
	</table>
		

<script type="text/javascript">

var geocoder;
var map;
var marker;
   
function initialize(){
  var latlng = new google.maps.LatLng(<%= @trip.latitude.to_s %>, <%= @trip.longitude.to_s %>);
  var options = {
    zoom: 8,
    center: latlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
       
  map = new google.maps.Map(document.getElementById("event_map_canvas"), options);
       
  //GEOCODER
  geocoder = new google.maps.Geocoder();
       
  marker = new google.maps.Marker({
    map: map,
    draggable: true
  });
  
  var mainMarker = new google.maps.Marker({
        position: latlng, 
        map: map, 
        title:"<%= @trip.destination %>"
	  });
               
}

$(document).ready(function() {
         
  initialize();
  
  
  $(function() {
    $("#event_location").autocomplete({
      //This bit uses the geocoder to fetch address values
      source: function(request, response) {
	    sw = new google.maps.LatLng(<%=@trip.latitude - 4 %>,<%=@trip.longitude - 4 %>);
		ne = new google.maps.LatLng(<%=@trip.latitude + 4 %>,<%=@trip.longitude + 4 %>);
		map_bounds = new google.maps.LatLngBounds(sw, ne);
        geocoder.geocode( {'address': request.term,  'bounds':map_bounds }, function(results, status) {
          response($.map(results, function(item) {
            return {
              label:  item.formatted_address,
              value: item.formatted_address,
              latitude: item.geometry.location.lat(),
              longitude: item.geometry.location.lng()
            }
          }));
        })
      },
      //This bit is executed upon selection of an address
      select: function(event, ui) {
        $("#event_latitude").val(ui.item.latitude);
        $("#event_longitude").val(ui.item.longitude);
        var location = new google.maps.LatLng(ui.item.latitude, ui.item.longitude);
        marker.setPosition(location);
        map.setCenter(location);
      }
    });
  });
  
});

</script>