<!--
<div id="event_map_canvas" style="width:300px; height:300px; float:right"></div>
-->


	<div class="errors">
	  The following errors prevented the event from being saved:
	  <ul class="error_list"></ul>
	</div>
	
	<%= f.hidden_field :latitude %>
	<%= f.hidden_field :longitude %>
	
	<table>
	  <tr>
	    <th><%= f.label :title %></th>
		  <td><%= f.text_field :title %></td>
    </tr>
	
	  <tr>
	    <th><%= f.label :location %></th>
		  <td><%= f.text_field :location %></td>
		</tr>

	  <tr>
	    <th><%= f.label :start_date %></th>
		  <td><%= f.text_field :start_date %></td>
		</tr>

	  <tr>
	    <th><%= f.label :end_date %></th>
		  <td><%= f.text_field :end_date %></td>
		</tr>

	  <tr>
	    <th><%= f.label :notes %></th>
		  <td><%= f.text_area :notes %></td>
		</tr>

	  <tr>
	    <th></th>
		  <td><%= f.label :must_do, 'Make this a must do!' %> <%= f.check_box :must_do %></td>
		</tr>

    <tr>
      <th></th>
      <td>
        <% buttons.each do |button| %>
        <%= button %>
        <% end %>
      </td>
    </tr>
	</table>