
<div id="login">
	<h2>Sign in</h2>
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	  <p><%= f.label :username %>
	  <%= f.text_field :username %></p>

	  <p><%= f.label :password %>
	  <%= f.password_field :password %></p>


	  <p><%= f.submit "Sign in" %>
	<% end %>
	<div style="clear: both">
	<%= link_to "Forgot your password?", new_password_path(resource_name), {:class => 'forgot-pass'} %>
</div>

